<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SixThSem"
        tools:targetApi="31">
        <activity
            android:screenOrientation="portrait"
            android:name=".sixfivefour"
            android:exported="false" />
        <activity
            android:screenOrientation="portrait"
            android:name=".sixfivethree"
            android:exported="false" />
        <activity
            android:screenOrientation="portrait"
            android:name=".sixfivetwo"
            android:exported="false" />
        <activity
            android:screenOrientation="portrait"
            android:name=".sixfiveone"
            android:exported="false" />
        <activity
            android:screenOrientation="portrait"
            android:name=".sixfourfive"
            android:exported="false" />
        <activity
            android:screenOrientation="portrait"
            android:name=".sixfourfour"
            android:exported="false" />
        <activity
            android:screenOrientation="portrait"
            android:name=".sixfourthree"
            android:exported="false" />
        <activity
            android:screenOrientation="portrait"
            android:name=".sixfourtwo"
            android:exported="false" />
        <activity
            android:screenOrientation="portrait"
            android:name=".sixfourone"
            android:exported="false" />
        <activity
            android:screenOrientation="portrait"
            android:name=".sixthree"
            android:exported="false" />
        <activity
            android:screenOrientation="portrait"
            android:name=".sixtwo"
            android:exported="false" />
        <activity
            android:screenOrientation="portrait"
            android:name=".sixone"
            android:exported="false" />
        <activity
            android:screenOrientation="portrait"
            android:name=".splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>